<%- include ../../partials/parte1Superior.ejs %>

</head>

<body>


  <div class="container p-0 my-3">
    <h3>
      <%= clave %> - Asignaturas
    </h3> 
    <hr>
    <div class="">


      <table id="estudiantes" class="table table-striped table-bordered responsive">
        <thead class="">
          <tr>
            <th>Nombre</th>
            <th>Valoración 1</th>
            <th>Valoración 2</th>
            <th>Promedio</th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          
          <% calificiones.forEach(function(calificion){ %>
          <tr>
            <td>
              <%= calificion.estudianteNombre %>
            </td>
           
            <td>
              <%= calificion.valoracion1 %> : <%= calificion.informe1 %>
            </td>
            <td>
              <%= calificion.valoracion2 %> : <%= calificion.informe2 %>
            </td>


            <td>
              <%let promedio = Math.round((parseInt(calificion.valoracion1) + parseInt(calificion.valoracion2))/2) %>
              <%= promedio %>
            </td>

            <!-- Botones de edición -->

          </tr>
          <% }) %>
        </tbody>

      </table>
    </div>

  </div>
  <hr>
 
 
<%- include ../../partials/parte2Inferior.ejs %>