<%- include ../../partials/parte1Superior.ejs %>
<%- include ./docenteCargo_navbar.ejs %>


    </head>
    <body>

    <div  class="w3-container  w3-padding-16" >
      <h5 id="lblFormAlta"  style="display: none;"><b></i>Alta de cargos</b></h5>
      <img class="w3-bar-item w3-left" id="waitIconLblAltaCargo" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="30" height="30" />
      <div id="divFormAlta" class="w3-ul w3-card-4 w3-white" style="display: none;">
        <%- include ./docenteCargo_form.ejs %>
      </div>

    </div>

    <div class="w3-container w3-padding-16">
      <h5><b></i>Mis cargos</b></h5>
      <div class="w3-container w3-card-4 w3-white  w3-padding-16">
        <table class="w3-table w3-bordered">
          <thead>
          <tr>
            <th>Cargo</th>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Acción</th>
          </tr>
        </thead>
          <% cargos.forEach(function(cargo){ %>
            <tr>
              
              <td>
                <%= cargo.rol%>
              </td>
              <td>
                <%= cargo.curso%>
              </td>
              <td>
                <%= cargo.asignatura%> 
              </td>
              <td class="w3-padding-0">
                <button onclick="document.getElementById('<%= cargo.cursoAsignatura%>').style.display='block'" class="w3-button w3-red w3-large"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  
                 
              </td>
              <td class="w3-padding-0">
                <% if(cargo.curso == '-----'){ %>
                  <button class="w3-button w3-blue" disabled><i class="fa fa-users fa-fw" aria-hidden="true"></i> Estudiantes</button>
                  <% } else { %>
                <a href="/calificacion/curso<%= cargo.curso%>/asignatura<%= cargo.asignaturaId%>" class="w3-button w3-blue" ><i class="fa fa-users fa-fw" aria-hidden="true"></i> Estudiantes</a>
                <% } %>
              </td>

            </tr>
            <div id="<%= cargo.cursoAsignatura%>" class="w3-modal">
              <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <div class="w3-center"><br>
                  <span onclick="document.getElementById('<%= cargo.cursoAsignatura%>').style.display='none'" class="w3-button w3-xlarge w3-hover-blue w3-display-topright" title="Close Modal">&times;</span>
                  <h3>Está seguro que desea borrar el cargo de <%= cargo.rol%>: <%= cargo.asignatura%> ?</h3>
                </div>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                  <a onclick="document.getElementById('id01').style.display='block'" href="/docente/cargo/<%= cargo._rowNumber%>/baja" class="w3-button w3-red">Borrar</a>
                  <button onclick="document.getElementById('<%= cargo.cursoAsignatura%>').style.display='none'" type="button" class="w3-button w3-blue">Cancel</button>
                </div>
              </div>
            </div>
            <% }); %>

        </table>
      </div>

    </div>
    <hr>

    <%- include ../../partials/parte2Inferior.ejs %>