<%- include ../../partials/parte1Superior.ejs %>
<%- include ./docenteCargo_navbar.ejs %>


    </head>
    <body>

      

    <div  class="w3-container  w3-padding-16" >
      <h5 id="lblFormAlta"  style="display: none;"><b></i>Alta de cargos</b></h5>
      <img class="w3-bar-item w3-left" id="waitIconLblAltaCargo" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="30" height="30" />
      <div id="divFormAlta" class="w3-ul w3-card-4 w3-white" style="display: none;">
        <%- include ./docenteCargo_form.ejs %>
      </div>

    </div>

    <div class="container">
      
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Cargo</th>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Acción</th>
          </tr>
        </thead>
          <% cargos.forEach(function(cargo){ %>
            <tr>
              
              <td>
                <%= cargo.rol%>
              </td>
              <td>
                <%= cargo.curso%>
              </td>
              <td>
                <%= cargo.asignatura%> 
              </td>
              <td class="w3-padding-0">

                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%= cargo.cursoAsignatura%>">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                  
                 
              </td>
              <td class="w3-padding-0">
                <% if(cargo.curso == '-----'){ %>
                  <button class="w3-button w3-blue" disabled><i class="fa fa-users fa-fw" aria-hidden="true"></i> Estudiantes</button>
                  <% } else { %>
                <a href="/calificacion/curso<%= cargo.curso%>/asignatura<%= cargo.asignaturaId%>" class="w3-button w3-blue" ><i class="fa fa-users fa-fw" aria-hidden="true"></i> Estudiantes</a>
                <% } %>
              </td>

            </tr>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal<%= cargo.cursoAsignatura%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Está seguro que desea borrar el cargo de <%= cargo.rol%>: <%= cargo.asignatura%> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="/docente/cargo/<%= cargo._rowNumber%>/baja" type="button" class="btn btn-danger">Confirmar</a>
      </div>
    </div>
  </div>
</div>

            <% }); %>

        </table>

    </div>
    <hr>

    <%- include ../../partials/parte2Inferior.ejs %>