<%- include ../../partials/parte1Superior.ejs %>
<%- include ./docenteCargo_navbar.ejs %>


    </head>
    <body>
    
    <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
    
    <button>Get External Content</button>
    <div class="w3-container  w3-padding-16">
      <h5><b></i>Alta de cargos</b></h5>
      <div class="w3-ul w3-card-4 w3-white">
        <%- include ./docenteCargo_form.ejs %>
      </div>

    </div>

    <div class="w3-container w3-padding-16">
      <h5><b></i>Mis cargos</b></h5>
      <div class="w3-container w3-card-4 w3-white  w3-padding-16">
        <table class="w3-table w3-bordered w3-hoverable">
          <thead>
          <tr>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Points</th>
          </tr>
        </thead>
          <% cargos.forEach(function(cargo){ %>
            <tr>

              <td>
                <%= cargo.curso%>
              </td>
              <td>
                <%= cargo.asignatura%>
              </td>

            </tr>
            <% }); %>

        </table>
      </div>

    </div>
    <hr>


    <%- include ../../partials/parte2Inferior.ejs %>