<%- include ../../partials/parte1Superior.ejs %>
<%- include ./docenteCargo_navbar.ejs %>


    </head>
    <body>

    <div  class="w3-container  w3-padding-16" >
      <h5 id="lblFormAlta"  style="display: none;"><b></i>Alta de cargos</b></h5>
      <img class="w3-bar-item w3-left" id="waitIconLblAltaCargo" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="30" height="30" />
      <div id="divFormAlta" class="w3-ul w3-card-4 w3-white" style="display: none;">
        <%- include ./docenteCargo_form.ejs %>
      </div>

    </div>

    <div class="w3-container w3-padding-16">
      <h5><b></i>Mis cargos</b></h5>
      <div class="w3-container w3-card-4 w3-white  w3-padding-16">
        <table class="w3-table w3-bordered">
          <thead>
          <tr>
            <th>Cargo</th>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Acción</th>
          </tr>
        </thead>
          <% cargos.forEach(function(cargo){ %>
            <tr>
              
              <td>
                <%= cargo.rol%>
              </td>
              <td>
                <%= cargo.curso%>
              </td>
              <td>
                <%= cargo.asignatura%>
              </td>
              <td class="w3-padding-0">
                  <a href="/estudiante/curso/<%= cargo.curso%>/asignatura/<%= cargo.asignaturaId%>" class="w3-button w3-red"><i class="fa fa-users fa-fw" aria-hidden="true"></i></a>
                 
              </td>
              <td class="w3-padding-0">
                <a href="/calificacion/curso<%= cargo.curso%>/asignatura<%= cargo.asignaturaId%>" class="w3-button w3-green"><i class="fa fa-users fa-fw" aria-hidden="true"></i></a>
               
            </td>

            </tr>
            <% }); %>

        </table>
      </div>

    </div>
    <hr>

    <%- include ../../partials/parte2Inferior.ejs %>