<%- include ../../partials/parte1Superior.ejs %>
<%- include ./docenteCargo_navbar.ejs %>


    </head>
    <body>
      <br>
    <div  class="container" >
      <h5 id="lblFormAlta"  style="display: none;"><b></i>Alta de cargos</b></h5>
      <img class="w3-bar-item w3-left" id="waitIconLblAltaCargo" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="30" height="30" />
      <div id="divFormAlta" class="w3-ul w3-card-4 w3-white" style="display: none;">
        <%- include ./docenteCargo_form.ejs %>
      </div>

    </div>
    <div class="container p-0 my-3">
      <h5 id="lblFormAlta"  style="display: block;"><b></i>Cargos actuales</b></h5>
        <table class="table table-hover table-responsive">
          <thead>
          <tr>
            <th>Cargo</th>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Eliminar</th>
            <th>Acción</th>
          </tr>
        </thead>
          <% cargos.forEach(function(cargo){ %>
            <tr>
              
              <td>
                <%= cargo.rol%>
              </td>
              <td>
                <%= cargo.curso%>
              </td>
              <td>
                <%= cargo.asignatura%> 
              </td>
              <td class="">

                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal<%= cargo.cursoAsignatura%>">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                  
                 
              </td>
              <td class="">
                <% if(cargo.curso == '-----'){ %>
                  <button class="btn btn-outline-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>
                  </button>
                  <% } else { %>
                <a href="/calificacion/curso<%= cargo.curso%>/asignatura<%= cargo.asignaturaId%>" class="btn btn-outline-success" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                </a>
                <% } %>
              </td>

            </tr>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal<%= cargo.cursoAsignatura%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Está seguro que desea borrar el cargo de <%= cargo.rol%>: <%= cargo.asignatura%> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="/docente/cargo/<%= cargo._rowNumber%>/baja" type="button" class="btn btn-danger">Confirmar</a>
      </div>
    </div>
  </div>
</div>

            <% }); %>

        </table>

    </div>
    <hr>

    <%- include ../../partials/parte2Inferior.ejs %>