<%- include ../../partials/parte1Superior.ejs %>
 
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src='/js/ajax/ajaxTrayectoria.js'></script>
   

      <!-- <div id="myHeader" class="panel panel-default">
  <div class="panel-heading"><b> Demo </b> </div>

  <div class="panel-body">
	
	<div class="tbl_user_data"></div>

  </div>

</div> 

 

<div class="panel panel-default">
  <div class="panel-heading"><b>HTML Table Edits/Upates</b> </div>

  <div class="panel-body">
	
	<p>All the changes will be displayed below</p>
	<div class="post_msg"> </div>

  </div>
</div>-->


    <div class="w3-container  w3-padding-16">
      <h5><b></i>Alta de cargos</b></h5>
      <div class="w3-ul w3-card-4 w3-white">
        <%- include ./formulario.ejs %>
      </div>

    </div>

    <div class="w3-container w3-padding-16">
      <h5><b></i>Mis cargos</b></h5>
      <div class="w3-container w3-card-4 w3-white  w3-padding-16">
        <table class="w3-table w3-bordered w3-hoverable">
          <thead>
          <tr>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Points</th>
          </tr>
        </thead>
          <% cargos.forEach(function(cargo){ %>
            <tr>

              <td>
                <%= cargo.curso%>
              </td>
              <td>
                <%= cargo.asignatura%>
              </td>

            </tr>
            <% }); %>

        </table>
      </div>

    </div>
    <hr>


    <%- include ../../partials/parte2Inferior.ejs %>