<%- include ../../partials/parte1Superior.ejs %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">

</head>

<body>
 
  <% estudiantes.forEach(function(estudiante){ %>
    <% var valoracion5, valoracion6, valoracion7, valoracion8 %>
      <div class="container">
        <div class="text-center mt-5">
            <img src="/img/ees62-logo.png" width="70" height="70">
      </div>
      <h3 class="text-center m-5"><strong> Informe de Trayectoria Educativa '22 </strong></h3>
      
        <table class="table">
          <tr>
            <td>
              <h4> <strong> Escuela de Educación Secundaria N° 62 </strong></h4>
            </td>
            <td>
              <h4> <strong> Curso: <%= curso.grado%>° <%= curso.division %>°  </strong></h4>
            </td>
          </tr>
          <tr>
            <td>
              <h4><%= estudiante.apellido %>, <%= estudiante.nombre %></h4>
            </td>
            <td>
              <h4>DNI: <%= estudiante.dni %></h4>
            </td>
          </tr>
        </table>

        <table class="table table-bordered bg-white" > 
          <thead class="text-center">
            <tr>
              <th  rowspan="2" class="align-middle">Asignatura</th>
              <th colspan="6" class="th-pad">Valoración / Período</th>
            </tr>
            <tr  class="text-center">
              <th>1° <br> <small> mar-jul</small></th>
              <th>2° <br> <small> ago-dic</small></th>
              <th class="align-middle">Cierre <br> anual</th>
              <th>3° <br> <small> int. dic</small></th>
              <th>4° <br> <small> feb-mar</small></th>
              <th class="align-middle">Final</th>
            </tr>
          </thead>
          
          <% asignaturas.forEach(function(asignatura) { %>
            <tr class="">
            <td class=""><strong> <%= asignatura.nombreCorto %></strong></td>
            
              <% calificaciones.forEach(function(calificacion) { %>
                <% if(asignatura.idAsignatura == calificacion.asignatura && calificacion.estudiante == estudiante.id) { %>
                  <%let promedio = Math.round((parseInt(calificacion.valoracion2) + parseInt(calificacion.valoracion1))/2) %>
                  <td class="text-center">
                  <% if( promedio <= 10 && promedio >= 7 ){%>
                    <span class="text-info">TEA
                      <% } %>
      
                  <% if( promedio <= 6 && promedio >= 4 ){%>
                    <span class="text-success">TEP
                      <% } %>
      
                  <% if( promedio <= 3 && promedio >= 0 ){%>
                    <span class="text-danger">TED
                      <% } %>
                  </span>
                </td>

                <% promedio = Math.round((parseInt(calificacion.valoracion3) + parseInt(calificacion.valoracion4))/2) %>
                  <td class="text-center">
                  <% if( promedio <= 10 && promedio >= 7 ){%>
                    <span class="text-info">TEA 
                      <% } %>
      
                  <% if( promedio <= 6 && promedio >= 4 ){%>
                    <span class="text-success">TEP
                      <% } %>
      
                  <% if( promedio <= 3 && promedio >= 0 ){%>
                    <span class="text-danger">TED
                      <% } %>
                  </span>
                </td>
                <!-- Anual -->
                <% valoracion5 = parseInt(calificacion.valoracion5) %>
                <% valoracion6 =  parseInt(calificacion.valoracion6) %>
                <% valoracion7 =  parseInt(calificacion.valoracion7) %>
                <% valoracion8 =  parseInt(calificacion.valoracion8) %>
                  <td class="text-center">
                  <% if( valoracion5 <= 10 && valoracion5 >= 7 ){%>
                    <span class="text-info"> 
                      <% } %>
      
                  <% if( valoracion5 <= 6 && valoracion5 >= 4 ){%>
                    <span class="text-success">
                      <% } %>
      
                  <% if( valoracion5 <= 3 && valoracion5 >= 0 ){%>
                    <span class="text-danger">
                      <% } %>
                  <% if(valoracion5) { %>
                    <strong><%= valoracion5 %></strong> 
                  <% } %>
                  </span>
                  </td>

                  <% } %>
                  
                <% }) %>
                
              <%
                if(valoracion5 >= 7){%>
                  <td class="dark" style="text-align: center;">
                  ------->
                  <%} else{ %>
                    <td class="text-center">
                      <% if( valoracion6 <= 10 && valoracion6 >= 7 ){%>
                        <span class="text-info"> 
                          <% } %>
          
                      <% if( valoracion6 <= 6 && valoracion6 >= 4 ){%>
                        <span class="text-success">
                          <% } %>
          
                      <% if( valoracion6 <= 3 && valoracion6 >= 0 ){%>
                        <span class="text-danger">
                          <% } %>
                      <% if(valoracion6) { %>
                        <strong><%= valoracion6 %></strong> 
                      <% } %>
                      </span>
                      </td>
    
                      <% } %>
              %>
              
              </td>
              <%
                if( valoracion5 >= 7 || valoracion6 >= 7){%>
                  <td class="dark" style="text-align: center;">
                  ------->
                  <%} else{ %>
                    <td class="text-center">
                      <% if( valoracion6 <= 10 && valoracion6 >= 7 ){%>
                        <span class="text-info"> 
                          <% } %>
          
                      <% if( valoracion6 <= 6 && valoracion6 >= 4 ){%>
                        <span class="text-success">
                          <% } %>
          
                      <% if( valoracion6 <= 3 && valoracion6 >= 0 ){%>
                        <span class="text-danger">
                          <% } %>
                      <% if(valoracion6) { %>
                        <strong><%= valoracion6 %></strong> 
                      <% } %>
                      </span>
                      </td>
    
                      <% } %>
              %>
            </td>
            
            <td></td>
          </tr>
        <% }); %> 
        </table>
        <div >
          <small>
          <strong class="text-info"> TEA - Trayectoria Educativa Avanzada: </strong> 
          
          <ul>
            <li>Alcanzaron los aprendizajes priorizados hasta el final del período.</li>
            <li>Sostuvieron una buena vinculación pedagógica. </li>
            <li>Realizaron la totalidad de las actividades propuestas por sus docentes.</li>
          </ul>
        </div>
        <div>
          <strong class="text-success"> TEP - Trayectoria Educativa en Proceso:  </strong>
          <ul>
            <li>No alcanzaron la totalidad de los aprendizajes priorizados hasta el final del período</li>
            <li>Sostuvieron una buena vinculación pedagógica. </li>
            <li>Realizaron parcialmente las actividades propuestas por sus docentes.</li>
          </ul>
        </div>
        <div>
          <strong class="text-danger"> TED - Trayectoria Educativa Discontinua:  </strong>
          <ul>
            <li>No alcanzaron los aprendizajes priorizados durante el período. </li>
            <li>No tuvieron una vinculación pedagógica.  </li>
            <li>No realizaron las actividades propuestas por sus docentes.</li>
          </ul>
        </small>
        </div>
      </div>
      <br>
      <hr>
      <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;page-break-after: always;">Consultado: <%= new Intl.DateTimeFormat('es', { month: 'long', day: '2-digit',year: 'numeric'}).format(new Date()) %></div>
  <% }) %>
  
  
 
<%- include ../../partials/parte2Inferior.ejs %>