<%- include ../../partials/parte1Superior.ejs %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">

</head>

<body>

  
  
  <% estudiantes.forEach(function(estudiante){ %>
      <div class="container">
        <div class="text-center mt-5">
            <img src="/img/ees62-logo.png" width="70" height="70">
      </div>
      <h3 class="text-center m-5"><strong> Informe de Trayectoria Educativa '22 </strong></h3>
      
        <table class="table">
          <tr>
            <td>
              <h4> <strong> Escuela de Educación Secundaria N° 62 </strong></h4>
            </td>
            <td>
              <h4> <strong> Curso: <%= estudiante.cursoClave %> </strong></h4>
            </td>
          </tr>
          <tr>
            <td>
              <h4><%= estudiante.estudianteNombre %></h4>
            </td>
            <td>
              <h4>DNI: <%= estudiante.dni %></h4>
            </td>
          </tr>
        </table>

        <table class="table table-bordered bg-white" > 
          <thead class="text-center">
            <tr>
              <th  rowspan="2" class="align-middle">Asignatura</th>
              <th colspan="6" class="th-pad">Valoración / Período</th>
            </tr>
            <tr  class="text-center">
              <th>1° <br> <small> mar-jul</small></th>
              <th>2° <br> <small> ago-dic</small></th>
              <th>3° <br> <small> int. dic</small></th>
              <th>4° <br> <small> feb-mar</small></th>
              <th class="align-middle">Anual</th>
              <th class="align-middle">Final</th>
            </tr>
          </thead>
        
          <% asignaturas.forEach(function(asignatura) { %>
            <tr class="">
            <td class="align-middle"><h5 class="align-middle"> <%= asignatura.asignaturaNombre %></h5></td>
            <td class="text-center">
              <% registros.forEach(function(registro) { %>
                <% if(asignatura.asignatura == registro.asignatura && registro.estudiante == estudiante.estudiante) { %>
                  <% switch (registro.riteCuatri1) {
                    case 'TEA' : %>
                    <span class="text-info">
                            <% break;
                    
                    case 'TEP' : %>
                    <span class="text-success">
                            <% break;
                    
                    case 'TED' : %>
                      <span class="text-danger">
                            <% break;
                    } %>
                    <%= registro.riteCuatri1 %></span>
                  <% } %>
                  
                <% }) %>
                
            </td>
            <td style="text-align: center;">
              <% switch (asignatura[8]) {
                case 'TEA' : %>
                <strong class="text-success"><%= asignatura[8] %></strong>
                        <% break;
                
                case 'TEP' : %>
                <strong class="text-warning"><%= asignatura[8] %></strong>
                        <% break;
                
                case 'TED' : %>
                  <strong class="text-danger"><%= asignatura[8] %></strong>
                        <% break;
                
                } %>
              
            </td>
              <%
                if(asignatura[8]=='TEA'){%>
                  <td class="dark" style="text-align: center;">
                  ------->
                  <%} else{ %>
                    <td style="text-align: center;">
                      <% switch (asignatura[9]) {
                    case 'TEA' : %>
                    <strong class="text-success"><%= asignatura[9] %></strong>
                            <% break;
                    
                    case 'TEP' : %>
                    <strong class="text-warning"><%= asignatura[9] %></strong>
                            <% break;
                    
                    case 'TED' : %>
                      <strong class="text-danger"><%= asignatura[9] %></strong>
                            <% break;
                    
                    }
                }
              %>
              
            </td>
              <%
                if(asignatura[8]=='TEA'||asignatura[9]=='TEA'){%>
                  <td class="dark" style="text-align: center;">
                  ------->
                  <%} else{ %>
                    <td style="text-align: center;">
                      <% 
                  switch (asignatura[10]) {
                    case 'TEA' : %>
                    <strong class="text-success"><%= asignatura[10] %></strong>
                            <% break;
                    
                    case 'TEP' : %>
                    <strong class="text-warning"><%= asignatura[10] %></strong>
                            <% break;
                    
                    case 'TED' : %>
                      <strong class="text-danger"><%= registro[10] %></strong>
                            <% break;
                    
                    }
                }
              %>
            </td>
            <td style="text-align: center;">
              <% switch (asignatura[11]) {
                case 'TEA' : %>
                <strong class="text-success"><%= asignatura[11] %></strong>
                        <% break;
                
                case 'TEP' : %>
                <strong class="text-warning"><%= asignatura[11] %></strong>
                        <% break;
                
                case 'TED' : %>
                  <strong class="text-danger"><%= asignatura[11] %></strong>
                        <% break;
                
                        default: %>
                        <strong class=""><%= asignatura[11] %></strong>
                        <% break;
                
                } %>
            </td>
            <td></td>
          </tr>
        <% }); %> 
        </table>
        <div >
          <small>
          <strong class="text-info"> TEA - Trayectoria Educativa Avanzada: </strong> 
          
          <ul>
            <li>Alcanzaron los aprendizajes priorizados hasta el final del período.</li>
            <li>Sostuvieron una buena vinculación pedagógica. </li>
            <li>Realizaron la totalidad de las actividades propuestas por sus docentes.</li>
          </ul>
        </div>
        <div>
          <strong class="text-success"> TEP - Trayectoria Educativa en Proceso:  </strong>
          <ul>
            <li>No alcanzaron la totalidad de los aprendizajes priorizados hasta el final del período</li>
            <li>Sostuvieron una buena vinculación pedagógica. </li>
            <li>Realizaron parcialmente las actividades propuestas por sus docentes.</li>
          </ul>
        </div>
        <div>
          <strong class="text-danger"> TED - Trayectoria Educativa Discontinua:  </strong>
          <ul>
            <li>No alcanzaron los aprendizajes priorizados durante el período. </li>
            <li>No tuvieron una vinculación pedagógica.  </li>
            <li>No realizaron las actividades propuestas por sus docentes.</li>
          </ul>
        </small>
        </div>
      </div>
      <br>
      <hr>
      <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;page-break-after: always;">Consultado: <%= new Intl.DateTimeFormat('es', { month: 'long', day: '2-digit',year: 'numeric'}).format(new Date()) %></div>
  <% }) %>
  
  
 
<%- include ../../partials/parte2Inferior.ejs %>