<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilosPersonales.css">

</head>

<body>
       <% let i = 1 %>
          <div class="row">
            <div class="col p-3 "><strong>Escuela de Educación Secundaria N° 62</strong></div>
            <div class="col p-3">2° Cuatrimestre 2022</div>
            <div class="col p-3">Curso: <%= curso.grado%>° <%= curso.division %>°</div>
          </div>

        <table class="table-bordered bg-white" > 
          <thead class="text-center">
            <tr class="headt">
              <th  class="align-middle" rowspan="3">N°</th>
              <th class="" rowspan="3">Estudiante</th>
              <% asignaturas.forEach(function(asignatura) { %>
                <th class="vertical " colspan="3"><small><%= asignatura.nombreCorto %></small></th>
              <% }) %> 
            </tr>
            <tr>
              <% asignaturas.forEach(function(asignatura) { %>
                <th colspan="2">Periodo</th>
                <th class="vertical" rowspan="2">Final</th>
              <% }) %> 
            </tr>
            <tr>
              <% asignaturas.forEach(function(asignatura) { %>
                <th>1°</th><th>2°</th>
              <% }) %> 
            </tr>
          </thead>
          <tbody>
            <% estudiantes.forEach(function(estudiante){ %>
              <tr class="">
                <td><%= i++ %></td>
                <td class="align-middle single-line"><%= estudiante.apellido %>, <%= estudiante.nombre %></td>
                  <% asignaturas.forEach(function(asignatura) { %>
                    <td></td><td></td><td></td>
                  <% }); %> 
      <% }) %>
      </tbody>
        </table>

      </div>

  
  
