<%- include ../../partials/parte1Superior.ejs %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">

</head>

<body>
 
      <% let i = 1 %>
      <div>
          
        <table class="table">
          <tr>
            <td>
              <h4> <strong> Escuela de Educación Secundaria N° 62 </strong></h4>
            </td>
            <td>
              <h4> <strong> Curso: <%= curso.grado%>° <%= curso.division %>°  </strong></h4>
            </td>
          </tr>

        </table>

        <table class="table-bordered bg-white" > 
          <thead class="text-center">
            <tr class="headt">
              <th  class="align-middle" rowspan="3">N°</th>
              <th class="" rowspan="3">Estudiante</th>
              <% asignaturas.forEach(function(asignatura) { %>
                <th class="vertical line-container" colspan="3"><%= asignatura.nombreCorto %></th>
              <% }) %> 
            </tr>
            <tr>
              <% asignaturas.forEach(function(asignatura) { %>
                <th colspan="2">Cuatri</th>
                <th class="vertical" rowspan="2">Final</th>
              <% }) %> 
            </tr>
            <tr>
              <% asignaturas.forEach(function(asignatura) { %>
                <th>1°</th><th>2°</th>
              <% }) %> 
            </tr>
          </thead>
          <tbody>
            <% estudiantes.forEach(function(estudiante){ %>
              <tr class="">
                <td><%= i++ %></td>
                <td class="align-middle single-line"><%= estudiante.apellido %>, <%= estudiante.nombre %></td>
                  <% asignaturas.forEach(function(asignatura) { %>
                    <td></td><td></td><td></td>
                  <% }); %> 
      <% }) %>
      </tbody>
        </table>
      
        
      </div>

  
  
