<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ../partials/header.ejs %>
</head>

<body>

  <a href="/form"> Nuevo </a>
  <p></p>
  <ul>
    <% resultados.forEach(function(resultado) { %>
       <li> <%= resultado.apellido %>, <%= resultado.nombre %></li>
       <li> <%= resultado.dni %></li>
    <% }); %> 
   </ul>

      
  

<div >
  <small>
  <strong class="text-success"> TEA - Trayectoria Educativa Avanzada: </strong> 
  
  <ul>
    <li>Alcanzaron los aprendizajes priorizados hasta el final del período.</li>
    <li>Sostuvieron una buena vinculación pedagógica. </li>
    <li>Realizaron la totalidad de las actividades propuestas por sus docentes.</li>
  </ul>
</div>
<div>
  <strong class="text-warning"> TEP - Trayectoria Educativa en Proceso:  </strong>
  <ul>
    <li>No alcanzaron la totalidad de los aprendizajes priorizados hasta el final del período</li>
    <li>Sostuvieron una buena vinculación pedagógica. </li>
    <li>Realizaron parcialmente las actividades propuestas por sus docentes.</li>
  </ul>
</div>
<div>
  <strong class="text-danger"> TED - Trayectoria Educativa Discontinua:  </strong>
  <ul>
    <li>No alcanzaron los aprendizajes priorizados durante el período. </li>
    <li>No tuvieron una vinculación pedagógica.  </li>
    <li>No realizaron las actividades propuestas por sus docentes.</li>
  </ul>
</small>
</div>

</div>
<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;"><%= new Intl.DateTimeFormat('es', { month: 'long', day: '2-digit',year: 'numeric'}).format(new Date()) %></div>
</body>
</html>
