<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="<%= usuario.picture %>" class="w3-circle w3-margin-right" style="width:46px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span> <strong><%= usuario.given_name %> <%= usuario.family_name %></strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        <a href="/usuario/logout" class="w3-bar-item w3-button" ><i class="fa fa-sign-out" ></i></a>
        
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Menú</h5>
    </div>
    <div class="w3-bar-block">
      <a href="/curso/<%= usuario.sub %>" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Mis cursos</a>
      <a href="/cargo/<%= usuario.sub %>" class="w3-bar-item w3-button w3-padding"><i class="fa fa-briefcase"></i> Cargos</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    </div>
  </nav>

