<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>



  <div class="divContaier">
    <div class="">
      <% resultados.forEach(function(resultado){ %>


      <%= resultado.mimeType%></h2>
      <h4 class="title">
        <%= resultado.webContentLink%></h4>


      <div class="flex-container">
        <div class="flex-1">
          <h2 class="">
            <img src=<%= resultado.iconLink%> />
            <%= resultado.name%></h2>
          <h2 class="title">
        </div>

        <div class="flex-2">
          <% if(resultado.mimeType == 'application/vnd.google-apps.folder'){%>
            <a href="/curso/cursoAsignaturas<%= resultado.id%>" class="linkButton">Acceder</a>
            <% } else{ %>
            <a href="https://docs.google.com/uc?id=<%= resultado.id%>" class="linkButton">Ver</a>
            <a href="<%= resultado.webContentLink%>" class="linkButton">Descargar*</a>
            <% } %>
        </div>
      </div>


      <% }); %>


    </div>

    <!-- row -->
    <div class="alert alert-info text-center" role="alert">
      Pie de página
    </div>
  </div>
</body>

</html>