<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/header.ejs %>
</head>

<body>
  
  <%- include ../partials/nav.ejs %>

<div class="container">
<h2>Boletín virtual - EES N° 62</h2>
<h3><%= resultados[0][3] %></h3>
<h4>DNI: <%= resultados[0][5] %>  -  Curso: <%= resultados[0][1] %> </h4>

<table class="table table-striped" > 
  <thead>
    <tr>
      <th>Asignatura</th>
      <th>Perído1</th>
    </tr>
  </thead>
  <% resultados.forEach(function(r) { %>
    <tr>
    <td><%= r[0] %></td>
    <td><%= r[7] %></td>
  </tr>
<% }); %>
</table>

</div>
<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;"><%= new Date();%></div>
</body>
</html>
