<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/header.ejs %>
</head>

<body>
  
  <%- include ../partials/nav.ejs %>

<div class="container">
  <div class="text-center">
      <img src="/ees62-logo2.png" width="80" height="80">
</div>
<h2 class="text-center"><strong> Informe de Trayectoria Educativa '21</strong></h2>
<div class="container">
  <table class="table">
    <tr>
      <td>
        <h3> <strong> Escuela de Educación Secundaria N° 62 </strong></h3>
      </td>
      <td>
        <h3> <strong> Curso: <%= resultados[0][1] %> </strong></h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3><%= resultados[0][3] %></h3>
      </td>
      <td>
        <h3>DNI: <%= resultados[0][5] %></h3>
      </td>
    </tr>
  </table>
</div>


<table class="table table-striped table-bordered" > 
  <thead>
    <tr>
      <th  rowspan="2" class="col-10 col-sm-4">Asignatura</th>
      <th colspan="4" class="th-pad">Valoración</th>
    </tr>
    <tr  class="text-center">
      <th>1° Período <br> <small> mar-jul</small></th>
      <th>2° Período <br> <small> ago-dic</small></th>
      <th>3° Período <br> <small> feb-mar</small></th>
      <th rowspan="2">Nota Final</th>
    </tr>
  </thead>
  <% resultados.forEach(function(r) { %>
    <tr>
    <td><strong> <%= r[0] %></strong></td>
    <td style="text-align: center;"><%= r[7] %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% }); %>
</table>

</div>
<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;"><%= new Date();%></div>
</body>
</html>
