<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ../partials/header.ejs %>
</head>

<body>
  
  <%- include ../partials/nav.ejs %>

<div class="container">
  <div class="text-center">
      <img src="/ees62-logo2.png" width="70" height="70">
</div>
<h3 class="text-center"><strong> Informe de Trayectoria Educativa '21</strong></h3>

  <table class="table table-sm">
    <tr>
      <td>
        <h4> <strong> Escuela de Educación Secundaria N° 62 </strong></h4>
      </td>
      <td>
        <h4> <strong> Curso: <%= resultados[0][1] %> </strong></h4>
      </td>
    </tr>
    <tr>
      <td>
        <h4><%= resultados[0][3] %></h4>
      </td>
      <td>
        <h4>DNI: <%= resultados[0][5] %></h4>
      </td>
    </tr>
  </table>

<table class="table table-striped table-bordered table-sm" > 
  <thead>
    <tr>
      <th  rowspan="2" class="col-10 col-sm-4">Asignatura</th>
      <th colspan="4" class="th-pad">Valoración</th>
    </tr>
    <tr  class="text-center">
      <th>1° Período <br> <small> mar-jul</small></th>
      <th>2° Período <br> <small> ago-dic</small></th>
      <th>3° Período <br> <small> int. dic</small></th>
      <th>4° Período <br> <small> feb-mar</small></th>
      <th rowspan="2">Nota Final</th>
    </tr>
  </thead>

  <% resultados.forEach(function(r) { %>
    <tr>
    <td><strong> <%= r[0] %></strong></td>
    <td style="text-align: center;">
      <% switch (r[7]) {
        case 'TEA' : %>
        <strong class="text-success"><%= r[7] %></strong>
                <% break;
        
        case 'TEP' : %>
        <strong class="text-warning"><%= r[7] %></strong>
                <% break;
        
        case 'TED' : %>
          <strong class="text-danger"><%= r[7] %></strong>
                <% break;
        
        } %>
      
    </td>
    <td style="text-align: center;">
      <% switch (r[8]) {
        case 'TEA' : %>
        <strong class="text-success"><%= r[8] %></strong>
                <% break;
        
        case 'TEP' : %>
        <strong class="text-warning"><%= r[8] %></strong>
                <% break;
        
        case 'TED' : %>
          <strong class="text-danger"><%= r[8] %></strong>
                <% break;
        
        } %>
      
    </td>
      <%
        if(r[8]=='TEA'){%>
          <td class="dark" style="text-align: center;">
          ------->
          <%} else{ %>
            <td style="text-align: center;">
              <% switch (r[9]) {
            case 'TEA' : %>
            <strong class="text-success"><%= r[9] %></strong>
                    <% break;
            
            case 'TEP' : %>
            <strong class="text-warning"><%= r[9] %></strong>
                    <% break;
            
            case 'TED' : %>
              <strong class="text-danger"><%= r[9] %></strong>
                    <% break;
            
            }
        }
      %>
      
    </td>
      <%
        if(r[8]=='TEA'||r[9]=='TEA'){%>
          <td class="dark" style="text-align: center;">
          ------->
          <%} else{ %>
            <td style="text-align: center;">
              <% 
          switch (r[10]) {
            case 'TEA' : %>
            <strong class="text-success"><%= r[10] %></strong>
                    <% break;
            
            case 'TEP' : %>
            <strong class="text-warning"><%= r[10] %></strong>
                    <% break;
            
            case 'TED' : %>
              <strong class="text-danger"><%= r[10] %></strong>
                    <% break;
            
            }
        }
      %>
    </td>
    <td style="text-align: center;">
      <% switch (r[11]) {
        case 'TEA' : %>
        <strong class="text-success"><%= r[11] %></strong>
                <% break;
        
        case 'TEP' : %>
        <strong class="text-warning"><%= r[11] %></strong>
                <% break;
        
        case 'TED' : %>
          <strong class="text-danger"><%= r[11] %></strong>
                <% break;
        
                default: %>
                <strong class=""><%= r[11] %></strong>
                <% break;
        
        } %>
    </td>
  </tr>
<% }); %>
</table>

<div >
  <small>
  <strong class="text-success"> TEA - Trayectoria Educativa Avanzada: </strong> 
  
  <ul>
    <li>Alcanzaron los aprendizajes priorizados hasta el final del período.</li>
    <li>Sostuvieron una buena vinculación pedagógica. </li>
    <li>Realizaron la totalidad de las actividades propuestas por sus docentes.</li>
  </ul>
</div>
<div>
  <strong class="text-warning"> TEP - Trayectoria Educativa en Proceso:  </strong>
  <ul>
    <li>No alcanzaron la totalidad de los aprendizajes priorizados hasta el final del período</li>
    <li>Sostuvieron una buena vinculación pedagógica. </li>
    <li>Realizaron parcialmente las actividades propuestas por sus docentes.</li>
  </ul>
</div>
<div>
  <strong class="text-danger"> TED - Trayectoria Educativa Discontinua:  </strong>
  <ul>
    <li>No alcanzaron los aprendizajes priorizados durante el período. </li>
    <li>No tuvieron una vinculación pedagógica.  </li>
    <li>No realizaron las actividades propuestas por sus docentes.</li>
  </ul>
</small>
</div>

</div>
<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;"><%= new Intl.DateTimeFormat('es', { month: 'long', day: '2-digit',year: 'numeric'}).format(new Date()) %></div>
</body>
</html>
