<%- include ../../partials/parte1Superior.ejs %>
<% let valoracion1 %>
<% let informe1="hola" %>

<script src="/js/estudianteAsignatura.ajax.js"></script>

</head>

<body>

  <div class="panel panel-default">
    <div class="panel-heading"><b>HTML Table Edits/Upates</b> </div>
  
    <div class="panel-body">
  
      <p>All the changes will be displayed below</p>
      <div class="post_msg"> </div>
  
    </div>
  </div>

  <!-- ///////////////////////////////////////////////////////7 -->

  <div class="w3-container w3-padding-16">
    <h3>Calificaciones</h3>
    <div class="w3-container w3-card-4 w3-white  w3-padding-16">
      <div>
        <h5> <b><span id="spnCurso"> <%= curso.clave%> </span></b> - 
          <span id="spnAsignatura"> <%= asignatura.asignatura%>
          </span><span id="spnIdAsignatura" hidden>
            <%= asignatura.idAsignatura%>
          </span>
        </h5>
        <hr>
      </div>
      <table class="w3-table w3-bordered">
        <thead>
          <tr>
            <th>Estudiante</th>
            <th>Valoración</th>
            <th>Informe</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          <% estudiantesPorCurso.forEach(function(estuPorCurso){ %>
            <% valoracion1='' %>
                  <% informe1='' %>
          <tr row_id='<%= estuPorCurso.estudiante%>'>
            <td>
              <div class="" edit_type="click" col_name="nombre">
                <%= estuPorCurso.estudianteNombre%>
              </div>
            </td>
            <td>
              <% for (var l=estudiantesPorCalificaciones.length, i=0; i < l; i++) { %>
                <% estuPorCalificaciones = estudiantesPorCalificaciones[i]%>
                <% if( estuPorCurso.estudiante === estuPorCalificaciones.estudiante ){ %>
                  <% valoracion1=estuPorCalificaciones.valoracion1%>
                  <% informe1=estuPorCalificaciones.informe1%>
                  <% break %>
                <% } %>

              <% }; %>
              <select class="row_data w3-select" edit_type="click" col_name="valoracion1">
                <option value="" disabled selected></option>
                <% calificacionCodigos.forEach(function(calificacionCodigo){ %>
                  <% if( valoracion1==calificacionCodigo.simbolo ){ %>
                    <option value="<%=calificacionCodigo.simbolo%>" selected>
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% }else{ %>
                    <option value="<%=calificacionCodigo.simbolo%>">
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% } %>
                <% }); %>
              </select>
            </td>
            <td>
              <input class="row_data w3-input w3-animate-input" edit_type="click" col_name="informe1" style="width:135px"
                value="<%= informe1%>" />
            </td>
            <td class="w3-padding-0">
              <a href="/estudiante/curso/" class="w3-button"><i class="fa fa-users fa-fw" aria-hidden="true"></i></a>
              <span class="btn_edit"> 
                <a href="#" class="btn btn-link " row_id="'+row_id+'"> Edit</a> 
              </span>
              <span class="btn_save" hidden>
                <a href="#" class="btn btn-link" row_id="'+row_id+'"> Save</a> |
              </span>
              <span class="btn_cancel" hidden>
                <a href="#" class="btn btn-link" row_id="'+row_id+'"> Cancel</a> |
              </span>
            </td>

          </tr>
          <% }); %>
        </tbody>

      </table>
    </div>

  </div>
  <hr>

<%- include ../../partials/parte2Inferior.ejs %>