<%- include ../../partials/parte1Superior.ejs %>

<script src="/js/estudianteAsignatura.ajax.js"></script>

</head>

<body>
  
  <div class="container p-0 my-3">
    <h3>
      Calificaciones
      <a href="asignatura<%= asignatura.idAsignatura%>/informe" class="btn btn-outline-info" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>
      </a>
      
    </h3> 
    <div class="">
      <div>
        <h5> <b><span id="spnCurso"> <%= curso.grado %>° <%= curso.division %>° </span></b> - 
          <span id="spnAsignatura"> <%= asignatura.asignatura%></span>
          <p><small><%= estudiantes.length %> estudiantes</small></p>
          <input id="spnIdAsignatura" value="<%= asignatura.idAsignatura%>" hidden>
            
        </h5>
        <hr class="mb-0">
      </div>
      
      <div class="sticky-top col-12 mb-3 bg-primary p-2 btn-group">
        <button id="periodo1" class="btn btn-primary">1# Cuatri</button>
        <button id="periodo2" class="btn btn-primary">2# Cuatri</button>
        <!-- <button id="periodo3" class="btn btn-primary">Cierre</button> -->
        <button href="#" class="m-2 btn btn-outline btn_save mt-0 mb-0 float-end" row_id="'+row_id+'" disabled>
          <span id="">Guardar</span> 
          <img class="pull-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' style="display:block ;" width="22" height="22" />
        </button>
      </div>
      <div class="table-responsive">
      <table id="estudiantes" class="table  table-sm table-striped table-bordered ">
        <thead class="text-center align-middle">
          <tr>
            <th rowspan = '3' class="mithPersonalizado">Estudiante</th>
            <th colspan="4" class="cuatri1"><h4> 1# Cuatrimestre</h4></th>
            <th colspan="4" class="cuatri2"><h4>2# Cuatrimestre</h4></th>
            <th class="cierre">Cierre</th>
          </tr>
          <tr class="">
            <th colspan="2" class="cuatri1">1° Bimestre</th>
            <th colspan="2" class="cuatri1">2° Bimestre</th>
            <th colspan="2" class="cuatri2">3° Bimestre</th>
            <th colspan="2" class="cuatri2">4° Bimestre</th>
            <th class="cierre">Anual</th>
          </tr>
          <tr class="">
            <th class="cuatri1 tdNota">Valoración</th>
            <th class="cuatri1 tdInf">Informe</th>
            <th class="cuatri1 tdNota">Valoración</th>
            <th class="cuatri1 tdInf">Informe</th>
            <th class="cuatri2 tdNota">Valoración</th>
            <th class="cuatri2 tdInf">Informe</th>
            <th class="cuatri2 tdNota">Valoración</th>
            <th class="cuatri2 tdInf">Informe</th>
            <th class="cierre tdNota">Valoración</th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          
          <% estudiantes.forEach(function(estudiante){ %>
            
          <tr estudiante_id='<%= estudiante.id %>'>
            <td class="row_data change" col_name="change" style="display:block ;">
              false
            </td>

            <td class=" align-middle" col_name="nombre">
              <p type="button" class="estudiante modalEdit " data-toggle="modal" data-target="#exampleModalCenter">
                <%= estudiante.apellido %>, <%= estudiante.nombre %>
              </p>
                
            </td>

            
            <% var count = 0 %>
            <% calificaciones.forEach(function(calificacion){ %>
              
              <% if(estudiante.id == calificacion.estudiante && asignatura.idAsignatura == calificacion.asignatura) {%>
                
                <td class="rowNumber" style="display:none ;">
                  <%= calificacion._rowNumber %>
                </td>
                <!-- 1° CUATRIMESTRE -->
                <!-- 1° Informe -->
                <td rowNumber = '<%= calificacion._rowNumber %>' class="cuatri1">
                  <select id="valoracion1" class="row_data clone_data form-select" edit_type="click" col_name="valoracion1">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion1 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri1">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe1" value="<%= calificacion.informe2%>"/>
                </td>
                <!-- 2° Informe -->
                <td class="cuatri1">
                  <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion2">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion2 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri1">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe2" value="<%= calificacion.informe2%>"/>
                </td>
                <!-- 3° Informe -->
                <td class="cuatri2">
                  <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion3">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion3 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri2">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe3" value="<%= calificacion.informe3%>"/>
                </td>

                <!-- 4° Informe -->
                <td class="cuatri2">
                  <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion4">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion4 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri2">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe4" value="<%= calificacion.informe4%>"/>
                </td>
                <!-- anual Informe (5°) -->
                <td  class="cierre">
                  <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion5">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion5 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>

                <% count++ %>
              <% } %>
                

              
            <% }) %>
            <% if(count == 0) {%>
              <td>
                <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion1">
                  <option value="" disabled selected></option>
                  <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                    var selected = "";
                  %>
                    <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% }); %>
                </select>
              </td>
              <td>
                <input  class="row_data clone_data form-control" edit_type="click" col_name="informe1"/>
              </td>
              <!-- 2° Informe -->
              <td>
                <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion2">
                  <option value="" disabled selected></option>
                  <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                    var selected = "";
                  %>
                    <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% }); %>
                </select>
              </td>
              <td>
                <input  class="row_data clone_data form-control" edit_type="click" col_name="informe2" />
              </td>
            <% } %>

          </tr>

          <% }); %>
        </tbody>

      </table>
    </div>
    </div>

  </div>
  <hr>

  <%- include ./calificacion_modalEdit.ejs %>

  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" >
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Mensaje</h4>
          </div>
          <div class="modal-body">
            <p>Se están modificando <span id="cant"></span> estudiante, por favor espere.<img class="pull-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' width="30" height="30" /></p>
            
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  <!-- <script>
    $(document).ready(function() {
      $('#periodo1').click(async function(event){
      event.preventDefault();
      alert('ok')
      
    })
      // $('td:nth-child(4),th:nth-child(4)').hide();
      //       $('td:nth-child(5),th:nth-child(5)').hide();
      //   $('#periodo1').click(function() {
      //       //$('td:nth-child(2)').hide();
      //       // if your table has header(th), use this
      //       $('td:nth-child(2),th:nth-child(2)').show();
      //       $('td:nth-child(3),th:nth-child(3)').show();
      //       $('td:nth-child(4),th:nth-child(4)').hide();
      //       $('td:nth-child(5),th:nth-child(5)').hide();
      //   });
      //   $('#periodo2').click(function() {
      //       //$('td:nth-child(2)').hide();
      //       // if your table has header(th), use this
      //       $('td:nth-child(4),th:nth-child(4)').show();
      //       $('td:nth-child(5),th:nth-child(5)').show();
      //       $('td:nth-child(2),th:nth-child(2)').hide();
      //       $('td:nth-child(3),th:nth-child(3)').hide();
      //   });
    });
</script> -->

<script>
  $(document).ready(function () {
    $('.cuatri1').addClass('d-none')//invicibilizo el 1er cuatri
    //$('.cierre').addClass('d-none')//invicibilizo el 1er cuatri
    var tbl_row
    var numeroElementos
    var totalElementos = $('#totalElementos')

    $('.modalEdit').on('click', async function(event){
      event.preventDefault()
      tbl_row = await $(this).closest('tr')
      numeroElementos = $(this).closest('table').find('tr').length - 1
      totalElementos.html( numeroElementos )
      await rellenarInputModal(tbl_row)
	  });

    $('.btn_form').on('click', async function(event){
      event.preventDefault();
      if ($('#form_change').html()=='true') {
        await actualizarTabla()
      }
    })

    $('#estudianteSiguiente').on('click', async function(event){
      event.preventDefault();
      tbl_row = await tbl_row.next()
      await rellenarInputModal(tbl_row)
    })

    $('#estudianteAnterior').on('click', async function(event){
      event.preventDefault();
      tbl_row = await tbl_row.prev()
      await rellenarInputModal(tbl_row)
    })

    $('.modal_data').change( async function(){
      $('#form_change').html('true')
    } )

    function actualizarTabla(){
      var arrayData = $('.data_inverse')
      var arrayRow = tbl_row.find('.clone_data')
      let j = 0

      arrayData.each(async function(callback){
        arrayRow[j].value = arrayData[j].value
        j++
      })
      tbl_row.find("td:eq(1)").addClass('text-success')
      $('.btn_save').prop('disabled', false)
      $('.btn_save').addClass('btn-outline-success')
      tbl_row.find("td:eq(0)").html('true')
      $('#form_change').html('false')
      rellenarInputModal(tbl_row)
    }

    function rellenarInputModal(tbl_row){
      
      var arrayRow = tbl_row.find('.clone_data')
      var arrayModal = $('.modal_data')
      var estudiante = $('#estudiante')
      var index = $('#index')

      estudiante.html(tbl_row.find('.estudiante').html())
      index.html(tbl_row.index()+1)

      if (index.html() == 1) {
        $('#estudianteAnterior').addClass('btn-disabled')
        $('#estudianteAnterior').removeClass('btn-info')
        $('#estudianteAnterior').attr('disabled', 'disabled');
      } else {
        $('#estudianteAnterior').addClass('btn-info')
        $('#estudianteAnterior').removeClass('btn-disabled')
        $('#estudianteAnterior').removeAttr('disabled');
      }

      if (index.html() == numeroElementos) {
        $('#estudianteSiguiente').addClass('btn-disabled')
        $('#estudianteSiguiente').removeClass('btn-info')
        $('#estudianteSiguiente').attr('disabled', 'disabled');
      } else {
        $('#estudianteSiguiente').addClass('btn-info')
        $('#estudianteSiguiente').removeClass('btn-disabled')
        $('#estudianteSiguiente').removeAttr('disabled');
      }

      let i = 0
      arrayRow.each(async function(){
        await arrayModal.html('')
        let valor = $(this).val()
        let clon = $(this).clone().appendTo(arrayModal.eq(i)).addClass('data_inverse')
        clon.val(valor)
        i++
      })
    }

    $('#slcMotivoBajaId').on('change', function () {
      var selector = $(this).val();
      if (selector == 1 || selector == 3) {
        $('#divCursoId').attr('hidden', false);
        $('#inputCurso').prop('required',true);
      } else {
        $('#inputCurso').val('').prop('required',false);
        $('#divCursoId').attr('hidden', true);
      }
    })

    $('#periodo1').on('click', async function(){
      $('.cuatri2').addClass('d-none')
      //$('.cierre').addClass('d-none')
      $('.cuatri1').removeClass('d-none')
    })

    $('#periodo2').on('click', async function(){
      $('.cuatri1').addClass('d-none')
      //$('.cierre').addClass('d-none')
      $('.cuatri2').removeClass('d-none')
    })

    $('#periodo3').on('click', async function(){
      $('.cuatri1').addClass('d-none')
      $('.cuatri2').addClass('d-none')
      //$('.cierre').removeClass('d-none')
    })
  
  });
</script>

<script>
function openCity(evt, cityName) {
  var i, tablinks;

  tabbtns = document.getElementsByClassName("tabbtn");
  for (i = 0; i < tabbtns.length; i++) {
    tabbtns[i].className = tabbtns[i].className.replace(" active", "");
  }
  evt.currentTarget.className += " active";
  //evt.currentTarget.firstElementChild.className += " text-success";
}
  </script>
<%- include ../../partials/parte2Inferior.ejs %>