<%- include ../../partials/parte1Superior.ejs %>

<script src="/js/estudianteAsignatura.ajax.js"></script>

</head>

<body>
  
  <div class="container p-0 my-3">
    <h3>
      Calificaciones
      <a href="asignatura<%= asignatura.idAsignatura%>/informe" class="btn btn-outline-info" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>
      </a>
      
    </h3> 
    <% var disabled, clase %>
    <div class="">
      <div>
        <h5> <b><span id="spnCurso"> <%= curso.grado %>° <%= curso.division %>° </span></b> - 
          <span id="spnAsignatura"> <%= asignatura.asignatura%></span>
          <p><small><%= estudiantes.length %> estudiantes</small></p>
          <input id="spnIdAsignatura" value="<%= asignatura.idAsignatura%>" hidden>
            
        </h5>
        <hr class="mb-0">
      </div>
      
      <div class="sticky-top col-12 mb-3 bg-primary p-2 btn-group">
        <button id="periodo1" class="btn btn-primary">1# Cuatri</button>
        <button id="periodo2" class="btn btn-primary">2# Cuatri</button>
        <button id="periodoFinal" class="btn btn-primary"># Intens.</button>
        <button href="#" class="m-2 btn btn-outline btn_save mt-0 mb-0 float-end" row_id="'+row_id+'" disabled>
          <span id="">Guardar</span> 
          <img class="pull-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' style="display:none ;" width="22" height="22" />
        </button>
      </div>
      <div class="table-responsive">
      <table id="estudiantes" class="table  table-sm table-striped table-bordered ">
        <thead class="text-center align-middle">
          <tr>
            <th rowspan = '3' class="mithPersonalizado">Estudiante</th>
            <th colspan="4" class="cuatri1"><h4> 1# Cuatrimestre</h4></th>
            <th colspan="4" class="cuatri2"><h4>2# Cuatrimestre</h4></th>
            <th rowspan="2" colspan="2" class="final bg-primary"><h4># Final</h4></th>
            <th rowspan="2" colspan="2" class="cierre"><h4># Intens.</h4></th>
          </tr>
          <tr class="">
            <th colspan="2" class="cuatri1">1° Bimestre</th>
            <th colspan="2" class="cuatri1">2° Bimestre</th>
            <th colspan="2" class="cuatri2">3° Bimestre</th>
            <th colspan="2" class="cuatri2">4° Bimestre</th>
          </tr>
          <tr class="">
            <th class="cuatri1 tdNota">Valoración</th>
            <th class="cuatri1 tdInf">Informe</th>
            <th class="cuatri1 tdNota">Valoración</th>
            <th class="cuatri1 tdInf">Informe</th>
            <th class="cuatri2 tdNota">Valoración</th>
            <th class="cuatri2 tdInf">Informe</th>
            <th class="cuatri2 tdNota">Valoración</th>
            <th class="cuatri2 tdInf">Informe</th>
            <th rowspan="2" class="anual tdNota  bg-primary">Valoración <br> anual</th>
            <th class="anual tdNota  bg-primary" >Valoración <br> Final </th>
            <th class="cierre tdNota">diciembre</th>
            <th class="cierre tdNota">feb-mar</th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          
          <% estudiantes.forEach(function(estudiante){ %>
            
          <tr estudiante_id='<%= estudiante.id %>'>
            <td class="row_data change" col_name="change" style="display:none ;">
              false
            </td>

            <td class=" align-middle" col_name="nombre">
              <p type="button" class="estudiante modalEdit " data-toggle="modal">
                <!-- <p type="button" class="estudiante modalEdit " data-toggle="modal" data-target="#exampleModalCenter"> -->
                <%= estudiante.apellido %>, <%= estudiante.nombre %>
              </p>
                
            </td>

            
            <% var count = 0 %>
            <% calificaciones.forEach(function(calificacion){ %>
              
              <% if(estudiante.id == calificacion.estudiante && asignatura.idAsignatura == calificacion.asignatura) {%>
                
                <td class="rowNumber" style="display:none ;">
                  <%= calificacion._rowNumber %>
                </td>
                <!-- 1° CUATRIMESTRE -->
                <!-- 1° Informe -->
                <td rowNumber = '<%= calificacion._rowNumber %>' class="cuatri1">
                  <select id="valoracion1" class="row_data clone_data form-select" edit_type="click" col_name="valoracion1">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion1 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri1">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe1" value="<%= calificacion.informe2%>"/>
                </td>
                <!-- 2° Informe -->
                <td class="cuatri1">
                  <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion2">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion2 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri1">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe2" value="<%= calificacion.informe2%>"/>
                </td>


                <!-- 3° Informe -->
                <td class="cuatri2">
                  <select id="valoracion3" class="row_data clone_data form-select valoracion3" edit_type="click" col_name="valoracion3">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion3 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri2">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe3" value="<%= calificacion.informe3%>"/>
                </td> 

                <!-- 4° Informe -->
                <td class="cuatri2">
                  <select id="valoracion4" class="row_data clone_data form-select valoracion4" edit_type="click" col_name="valoracion4">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion4 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                      </option>
                    <% }); %>
                  </select>
                </td>
                <td class="cuatri2">
                  <input  class="row_data clone_data form-control" edit_type="click" col_name="informe4" value="<%= calificacion.informe4%>"/>
                </td>

                <!-- anual Informe (5°) -->
                <td  class="anual col-1">
                  <select id="valoracion5" class="row_data clone_data form-select valoracion5" edit_type="click" col_name="valoracion5">
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion5 ) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%>
                      </option>
                    <% }); %>
                  </select>
                </td>

                 <!-- FINAL -->
                 <td  class="anual col-1">
                    <input  class="row_data clone_data form-control valoracion8 disabled" col_name="valoracion8" value="<%= calificacion.valoracion8%>" style="font-weight:bold;" disabled/>
                </td>

                <!-- Intensicicación dic -->
                <td  class="cierre">
                  <% 
                    if( calificacion.valoracion5 >= 7){
                      disabled = "disabled"
                      clase = "bg-secondary"
                    }else{
                      disabled = ""
                      clase = ""
                    }
                  %>
                  <select id="valoracion6" class="row_data clone_data form-select valoracion6 <%= clase %>" edit_type="click" col_name="valoracion6" <%= disabled %>>
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion6 && calificacion.valoracion5 < 7) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%>
                      </option>
                    <% }); %>
                  </select>
                </td>

                <!-- Intensicicación feb -->
                <td  class="cierre">
                  <% 
                    if( calificacion.valoracion5 >= 7 || calificacion.valoracion6 >= 7){
                      disabled = "disabled"
                      clase = "bg-secondary"
                    }else{
                      disabled = ""
                      clase = ""
                    }
                  %>
                  <select id="valoracion7" class="row_data clone_data form-select valoracion7 <%= clase %>" edit_type="click" col_name="valoracion7" <%= disabled %>>
                    <option value="" disabled selected></option>
                    <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                      var selected = ( calificacionCodigo.simbolo == calificacion.valoracion7  && calificacion.valoracion5 < 7) ? "selected" : "";
                    %>
                      <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                        <%=calificacionCodigo.simbolo%>
                      </option>
                    <% }); %>
                  </select>
                  
                </td>

                

                <% count++ %>
              <% } %>
                

              
            <% }) %>
            <% if(count == 0) {%>
              <td  class="cuatri1">
                <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion1">
                  <option value="" disabled selected></option>
                  <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                    var selected = "";
                  %>
                    <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% }); %>
                </select>
              </td>
              <td  class="cuatri1">
                <input  class="row_data clone_data form-control" edit_type="click" col_name="informe1"/>
              </td>
              <!-- 2° Informe -->
              <td  class="cuatri1">
                <select class="row_data clone_data form-select" edit_type="click" col_name="valoracion2">
                  <option value="" disabled selected></option>
                  <% calificacionCodigos.forEach(function(calificacionCodigo){ 
                    var selected = "";
                  %>
                    <option value="<%=calificacionCodigo.simbolo%>" <%= selected %>>
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% }); %>
                </select>
              </td>
              <td  class="cuatri1">
                <input  class="row_data clone_data form-control" edit_type="click" col_name="informe2" />
              </td>
              <td colspan="5">
                Debe completar y guardar el 1# Cuatrimestre
              </td>
            <% } %>

          </tr>

          <% }); %>
        </tbody>

      </table>
    </div>
    </div>

  </div>
  <hr>

  <%- include ./calificacion_modalEdit.ejs %>

  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" >
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Mensaje</h4>
          </div>
          <div class="modal-body">
            <p>Se está/n modificando <span id="cant"></span> estudiante/s, por favor espere.<img class="pull-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' width="30" height="30" /></p>
            
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  
<%- include ../../partials/parte2Inferior.ejs %>