<%- include ../../partials/parte1Superior.ejs %>
<% let valoracion1, valoracion2 %>
<% let informe1, informe2 %>
<% let rowNumber %>

<script src="/js/estudianteAsignatura.ajax.js"></script>

</head>

<body>
  <div class="">
    
  </div>
  <!-- ///////////////////////////////////////////////////////7 -->

  <div class="container p-0 my-3">
    <h3>Calificaciones</h3>
    <div class="">
      <div>
        <h5> <b><span id="spnCurso"> <%= curso.clave%> </span></b> - 
          <span id="spnAsignatura"> <%= asignatura.asignatura%>
          </span>
          <input id="spnIdAsignatura" value="<%= asignatura.idAsignatura%>" hidden>
            
        </h5>
        <hr class="mb-0">
      </div>
      
      <div class="sticky-top mb-3 bg-primary pt-1 pb-1 mt-0">
        <div class="nav nav-pills btn-group col-md-12">
          <a id="periodo1" class="nav-link tabbtn btn btn-primary" href="javascript:void(0)" onclick="openCity(event);" aria-disabled="true">
            <div class="tablink nav-item ">1° Perído</div>
          </a>
          <a id="periodo2" class="nav-link tabbtn btn btn-primary" href="javascript:void(0)" onclick="openCity(event);">
            <div class="tablink nav-item">2° Perído</div>
          </a>
          <a id="periodo3" class="nav-link tabbtn btn btn-primary disabled" href="javascript:void(0)" >
            <div class="tablink nav-item">3° Perído</div>
          </a>
          <a id="periodo4" class="nav-link tabbtn btn btn-primary disabled" href="javascript:void(0)">
            <div class="tablink nav-item">4° Perído</div>
          </a>
        </div>
      </div>

      <table id="estudiantes" class="table table-striped table-bordered responsive">
        <thead class="">
          <tr>
            <th>Estudiante</th>
            <th>Valoración (1)</th>
            <th>Informe (1)</th>
            <th>Valoración (2)</th>
            <th>Informe (2)</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          
          <% estudiantesPorCurso.forEach(function(estuPorCurso){ %>
            <% rowNumber=''%>
            <% valoracion1='' %>
            <% valoracion2='' %>
                  <% informe1='' %>
                  <% informe2='' %>
                  <% for (var l=estudiantesPorCalificaciones.length, i=0; i < l; i++) { %>
                    <% estuPorCalificaciones = estudiantesPorCalificaciones[i]%>
                    <% if( estuPorCurso.estudiante === estuPorCalificaciones.estudiante ){ %>
                      <% valoracion1=estuPorCalificaciones.valoracion1%>
                      <% valoracion2=estuPorCalificaciones.valoracion2%>
                      <% informe1=estuPorCalificaciones.informe1%>
                      <% informe2=estuPorCalificaciones.informe2%>
                      <% rowNumber=estuPorCalificaciones._rowNumber%>
                      <% break %>
                    <% } %>
      
                  <% }; %>
          <tr row_id='<%= estuPorCurso.estudiante%>' rowNumber="<%= rowNumber%>">
            <td>
              <div class="" edit_type="click" col_name="nombre">
                <%= estuPorCurso.estudianteNombre%>
              </div>
            </td>
           
            
            <!-- 1° Informe -->
            <td>

              <select class="row_data form-select" edit_type="click" col_name="valoracion1">
                <option value="" disabled selected></option>
                <% calificacionCodigos.forEach(function(calificacionCodigo){ %>
                  <% if( valoracion1==calificacionCodigo.simbolo ){ %>
                    <option value="<%=calificacionCodigo.simbolo%>" selected>
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% }else{ %>
                    <option value="<%=calificacionCodigo.simbolo%>">
                      <%=calificacionCodigo.simbolo%> - <%=calificacionCodigo.letra%>
                    </option>
                  <% } %>
                <% }); %>
              </select>
            </td>
            <td>
              <input  class="row_data form-control" edit_type="click" col_name="informe1" value="<%= informe1%>"/>
            </td>

            <!-- 2° Informe -->

            <td>
              <select class="row_data form-select" edit_type="click" col_name="valoracion2">
                <option value="" disabled selected></option>
                <% calificacionCodigos.forEach(function(calificacionCodigo){ %>
                  <% if( valoracion2 == calificacionCodigo.simbolo ){ %>
                    <option value="<%=calificacionCodigo.simbolo%>" selected>
                      <%= calificacionCodigo.simbolo %> - <%= calificacionCodigo.letra %>
                    </option>
                  <% } else{ %>
                    <option value="<%=calificacionCodigo.simbolo%>">
                      <%= calificacionCodigo.simbolo %> - <%= calificacionCodigo.letra %>
                    </option>
                  <% } %>
                <% }); %>
              </select>
            </td>
            <td>
              <input class="row_data form-control" edit_type="click" col_name="informe2" value="<%= informe2 %>" autofocus="off" autocorrect="off" autocapitalize="off"/>
            </td>

            <!-- Botones de edición -->
            <td class="w3-padding-0">
              <span class="btn_edit" hidden> 
                <a href="#" class="w3-button w3-white w3-border w3-border-blue" row_id="'+row_id+'">Editar</a> 
              </span>
              <span class="btn_save" >
                <a href="#" class="btn btn-outline-success" row_id="'+row_id+'"> Guardar </a>
              </span>
              <span class="btn_cancel" hidden>
                <a href="#" class="w3-button w3-white w3-border w3-border-red" row_id="'+row_id+'">Cancelar</a>
              </span>
            </td>

          </tr>
          <% }); %>
        </tbody>

      </table>
    </div>

  </div>
  <hr>
 
  <script type="text/javascript">
    $(document).ready(function() {
      document.getElementsByClassName("tabbtn")[0].className += " active";
      $('td:nth-child(4),th:nth-child(4)').hide();
            $('td:nth-child(5),th:nth-child(5)').hide();
        $('#periodo1').click(function() {
            //$('td:nth-child(2)').hide();
            // if your table has header(th), use this
            $('td:nth-child(2),th:nth-child(2)').show();
            $('td:nth-child(3),th:nth-child(3)').show();
            $('td:nth-child(4),th:nth-child(4)').hide();
            $('td:nth-child(5),th:nth-child(5)').hide();
        });
        $('#periodo2').click(function() {
            //$('td:nth-child(2)').hide();
            // if your table has header(th), use this
            $('td:nth-child(4),th:nth-child(4)').show();
            $('td:nth-child(5),th:nth-child(5)').show();
            $('td:nth-child(2),th:nth-child(2)').hide();
            $('td:nth-child(3),th:nth-child(3)').hide();
        });
    });
</script>

<script>
function openCity(evt, cityName) {
  var i, tablinks;

  tabbtns = document.getElementsByClassName("tabbtn");
  for (i = 0; i < tabbtns.length; i++) {
    tabbtns[i].className = tabbtns[i].className.replace(" active", "");
  }
  evt.currentTarget.className += " active";
  //evt.currentTarget.firstElementChild.className += " text-success";
}
  </script>
<%- include ../../partials/parte2Inferior.ejs %>