<%- include ../../partials/parte1Superior.ejs %>


    </head>
    <body>

    <div class="w3-container w3-padding-16">
      <h5><b></i>Estudiantes</b></h5>
      <%= asignatura.asignatura%>
      <div class="w3-container w3-card-4 w3-white  w3-padding-16">
        <table class="w3-table w3-bordered">
          <thead>
          <tr>
            <th>Estudiante</th>
            <th>Curso</th>
            <th>Asignatura</th>
            <th>Acción</th>
          </tr>
        </thead>
          <% estudiantes.forEach(function(registro){ %>
            <tr>
              
              <td>
                <%= registro.estudianteNombre%>
              </td>
              <td>
                <%= registro.nombre%>
              </td>
              <td>
                <%= registro.nombre%>
              </td>
              <td class="w3-padding-0">
                  <a href="/estudiante/curso/" class="w3-button"><i class="fa fa-users fa-fw" aria-hidden="true"></i></a>
                 
              </td>

            </tr>
            <% }); %>

        </table>
      </div>

    </div>
    <hr>

    <%- include ../../partials/parte2Inferior.ejs %>