<script src="/js/cursoEstudianteAlta.ajax.js"></script>
<img class="pull-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="22" height="22" />
<div class="">
  <form action="/estudiante/editar" method="post" class="">
    <input id="id" value="<%= estudiante.id %>" class="form-control" type="number" name="id" style="display:none">
    <div class="row">

      <div class="col-md-4 mb-2">
        <label for="dni" class="form-label">DNI</label>
        <input id="dni" value="<%= estudiante.dni %>" class="form-control" type="number" placeholder="N° de DNI" name="dni" required>
      </div>

      <div class="col-md-4 mb-2">
        <label for="apellido" class="form-label">Apellido/s</label>
        <input id="apellido" value="<%= estudiante.apellido %>" class="form-control" type="text" placeholder="Apellido/s del/la estudiante" name="apellido" required>
      </div>

      <div class="col-md-4 mb-2">
        <label for="nombre" class="form-label">Nombre/s</label>
        <input id="nombre" value="<%= estudiante.nombre %>" class="form-control" type="text" placeholder="Nombre/s del/la estudiante" name="nombre" required>
      </div>
    
    </div>
    <hr>
    <div class="row">

      <div class="col-md-4 mb-2">
        <p id="fecha" style="display: none;"><%= estudiante.nacimientoFecha %></p>
        <label for="nacimientoFecha" class="form-label">Fecha de Nac.</label>
        <input id="nacimientoFecha" value="2022-01/01" class="form-control" type="date" placeholder="Fecha de nacimiento del/la estudiante" name="nacimientoFecha" >
      </div>

      <div class="col-md-4 mb-2">
        <label for="nacimientoLugar" class="form-label">Lugar de Nac.</label>
        <input id="nacimientoLugar" value="<%= estudiante.nacimientoLugar %>" class="form-control" type="text" placeholder="Lugar de Nacimiento" name="nacimientoLugar" >
      </div>

      <div class="col-md-4 mb-2">
        <label for="nacionalidad" class="form-label">Nacionalidad</label>
        <input id="nacionalidad" value="<%= estudiante.nacionalidad %>" class="form-control" type="text" placeholder="Nacionalidad" name="nacionalidad" >
      </div>

    </div>
    <hr>
    <div class="row">
      
      <div class="col-md-3 mb-2">
        <label for="calle" class="form-label">Calle</label>
        <input id="calle" value="<%= estudiante.calle %>" class="form-control" type="text" placeholder="Nombre de la calle" name="calle" >
      </div>

      <div class="col-md-1 mb-2">
        <label for="numero" class="form-label">N°</label>
        <input id="numero" value="<%= estudiante.numero %>" class="form-control" type="text" placeholder="Número del domicilio" name="numero">
      </div>

      <div class="col-md-3 mb-2">
        <label for="localidad" class="form-label">Localidad</label>
        <input id="localidad" value="<%= estudiante.localidad %>" class="form-control" type="text" placeholder="Localidad" name="localidad">
      </div>

      <div class="col-md-2 mb-2">
        <label for="telefono1" class="form-label">Teléfono</label>
        <input id="telefono1" value="<%= estudiante.telefono1 %>" class="form-control" type="tel" placeholder="Número de teléfono" name="telefono1">
      </div>

      <div class="col-md-3 mb-2">
        <label for="mail" class="form-label">Email</label>
        <input id="mail" value="<%= estudiante.mail %>" class="form-control" type="email" placeholder="Correo electrónico" name="mail" >
      </div>
      
    </div>
    <br>
    <div class="btn-group  col-md-12">
      <button id="btnEnviar" class="btn btn-outline-success" type="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Guardar
      </button>
      <button id="btnLimpar" class="btn btn-outline-primary " type="reset">
        <i class="fa fa-eraser" aria-hidden="true"></i>
        Limpiar
      </button>
      <button id="btnCancelar" class="btn btn-outline-warning" type="button">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </form>
  <hr>
</div>

<script>
  $( document ).ready(function() {
        var fecha = $('#fecha').html()
        var info = fecha.split('-').reverse().join('-')
        $('#nacimientoFecha').val(info)

        return info;
});
</script>
