<%- include ../../partials/parte1Superior.ejs %>


    </head>
    <body>

<body>
  <% var i = 1 %>
  <!-- ///////////////////////////////////////////////////////7 -->
    <% i = 1 %>
  <div class="container p-0 my-3"> 
    <h3 id="cursoClave">
    </h3> 
    <div class="">
      <div>

        <hr class="mb-0">
      </div>
      <table id="estudiantes" class="table table-striped table-bordered table-sm">
        <thead class="">
          <tr>
            <th class="">N°</th>
            <th class="col-md-2">Estudiante</th>
            <th class="">DNI</th>
            <th class="col-md-1"><small>Curso</small></th>
            <th class="col-md-1"><small>Fecha:</small></th>
            <th class="col-md-1"><small>Fecha:</small></th>
            <th class="col-md-1"><small>Fecha:</small></th>
            <th class="col-md-1"><small>Fecha:</small></th>
            <th class="col-md-1"><small>Fecha:</small></th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          <% estudiantes.forEach(function(registro) { %>
          <tr class="p-0">
           <td>
            <%= i++ %>
           </td>
            <td>
              <%= registro.apellido %>, <%= registro.nombre %>
            </td>
            <td>
              <%= registro.dni %>
            </td>
            <td>
              <%= registro.curso %>
            </td>
            <td>
              <%= registro.cLectivo %>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
          <!-- Modal -->
          <% }) %> 
        </tbody>

      </table>
    </div>
  </div>
  <div style="page-break-after: always;"></div>

  <hr>
