<%- include ../../partials/parte1Superior.ejs %>


</head>

<body>
  <div class="">
    
  </div>
  <!-- ///////////////////////////////////////////////////////7 -->

  <div class="container p-0 my-3">
    <h3>
      Curso <%= clave %>

    </h3> 
    <div class="">
      <div>

        <hr class="mb-0">
      </div>
      
      <table id="estudiantes" class="table table-striped table-bordered responsive">
        <thead class="">
          <tr>
            <th>Estudiante</th>
            <th>C. Lectivo</th>
            <th></th>
            <th>Acci贸n</th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          <% estudiantes.forEach(function(estudiante){ %>
          <tr row_id = '<%=estudiante.idEstudianteCurso%>'>
           
            <td>
              <%=estudiante.estudianteNombre%>
              <%=estudiante.idEstudianteCurso%>
            </td>
            <td>
              <%=estudiante.cLectivo%>
            </td>
            <td>
              
            </td>

            <!-- Botones de edici贸n -->
            <td class="w3-padding-0">
              <span class="btn_save" >
                <a href="#" class="btn btn-outline-success"> Guardar </a>
              </span>
              <button type="button" class="btnTrashId btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>

          </tr>
          <!-- Modal -->

          <% }) %>
        </tbody>

      </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmaci贸n de baja</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form action="/estudiante/curso/bajaFake" method="post">
              <input class="form-group input-group-lg" id="estudianteId" disabled>
              <input type="text" id="rowId" name="rowId" hidden>
              <input type="text" id="cLectivo" name="cLectivo" hidden>
              <div class="form-group mb-2">
                <label for="fechaBaja">Fecha</label>
                <input type="date" class="form-control" id="fechaBaja" name="fechaBaja" aria-describedby="fechaBaja" placeholder="Ingresar fecha de baja" required>
              </div>
              <div class="form-group mb-2">
                <label for="slcMotivoBajaId">Motivo</label>
                <select id="slcMotivoBajaId" class="form-select" name="motivoBaja" required>
                  <option value="" selected disabled>Seleccione un motivo</option>
                  <option value="1">Cambio de curso</option>
                  <option value="2">Pase a otra escuela</option>
                  <option value="3">Promoci贸n</option>
                  <option value="4">Otro</option>
                </select>
              </div>
              <div id="divCursoId" class="form-group" hidden>
                <label for="inputCurso" class="form-label">Curso</label>
                <img id="waitIconCurso" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="22" height="22" />
                <select id="inputCurso"  class="form-select" type="text" placeholder="Ingrese su/s apellido/s" name="curso">
                  <option value="" disabled selected>Seleccione un curso</option>
                  <% cursos.forEach(function(curso){ %>
                    <option value="<%= curso.idCurso %>"><%= curso.clave%> - <%= curso.turnoNombre%></option>
                  <% }); %>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Confirmar</button>
              </div>
            </form>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <hr>


<script>
  $(document).ready(function () {
    $('.btnTrashId').on('click', function(event){
		event.preventDefault();
		var tbl_row = $(this).closest('tr');
		var row_id = tbl_row.attr('row_id');
    var row_estudiante = tbl_row.find("td:eq(0)").html()
    var row_cLectivo = tbl_row.find("td:eq(1)").html()
    $('#estudianteId').val($.trim(row_estudiante));
    $('#cLectivo').val($.trim(row_cLectivo));
    $('#rowId').val(row_id);
	});

  $('#slcMotivoBajaId').on('change', function () {
    var selector = $(this).val();
    if (selector == 1 || selector == 3) {
      $('#divCursoId').attr('hidden', false);
      $('#inputCurso').prop('required',true);
    } else {
      $('#inputCurso').val('').prop('required',false);
      $('#divCursoId').attr('hidden', true);
    }
  })
  
  //carga curso cuando el motivo de la baja es 1 (cambio de curso)
  // $('#slcMotivoBajaId').on('change', function () {
  //     var selector = $(this).val();
  //     alert(selector)
  //     //carga curso cuando se carga la vista el rol
  //     $.ajax({
  //       url: '/curso',
  //       contentType: 'application/json',
  //       method: 'GET',
  //       data: JSON.stringify({ id: selector }),
  //       dataType: 'text',
  //       success: function (response) {
  //         var jsonResponser = JSON.parse(response);
  //         //var slcCurso = $('#inputCurso');
  //         slcCurso.html('');
  //         slcCurso.removeAttr('disabled');
  //         slcCurso.attr('selected', false);
  //         slcCurso.append("<option value='' selected='' disabled=''>Seleccione un curso</option>\ ");

  //         jsonResponser.forEach(function (m) {
  //           slcCurso.append("<option value='" + m.idCurso + "' > " + m.clave + " - " + m.turnoNombre + " </option>\ ");
  //           console.log(m.nombre);
  //         })
  //         slcCurso.removeAttr('disabled')
  //         $("#waitIconCurso").css("display", "none");
  //       }
  //     });
  //   });
  });
</script>


 
<%- include ../../partials/parte2Inferior.ejs %>