<%- include ../../partials/parte1Superior.ejs %>


</head>

<body>
  <%- include ./estudiantes_navbar.ejs %>
  <% var i = 1 %>
  <!-- ///////////////////////////////////////////////////////7 -->

  <div class="container p-0 my-3">
    <h3 id="cursoClave">
      Curso <%= clave %>
    </h3> 
    <h4>
      Total de estudiantes: <%= estudiantes.length %>
    </h4>
    <div class="">
      <div>

        <hr class="mb-0">
      </div>
      <div  class="container" >
        <h5 id="lblFormAlta"  style="display: none;"><b></i>Alta de cargos</b></h5>
        <img class="w3-bar-item w3-left" id="waitIconLblAltaCargo" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="30" height="30" />
        <div id="divFormAlta" class="w3-ul w3-card-4 w3-white" style="display: none;">
          <%- include ./estudiantes_form.ejs %>
        </div>
    
      </div>
      <table id="estudiantes" class="table table-striped table-bordered responsive">
        <thead class="">
          <tr>
            <th>N°</th>
            <th>Estudiante</th>
            <th>DNI</th>
            <th>C. Lectivo</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody class="tbl_user_data">
          <% estudiantes.forEach(function(estudiante){ %>
            <% let rowid = "" %>
            <% let cLectivo %>
            <% estudianteCursos.forEach(function(estudianteCurso){ %>
              <% if(estudiante.id == estudianteCurso.estudiante) {%>
                <% rowid = estudianteCurso._rowNumber %>
                <% cLectivo = estudianteCurso.cLectivo %>
              <% } %>
            <% }) %>
          <tr row_id = '<%= rowid%>'>
           <td>
            <%= i %>
           </td>
            <td>
              <p class="m-0">
                <%= estudiante.apellido%>, <%= estudiante.nombre%>
              </p>
            </td>
            <td>
              <p class="m-0">
                <%=estudiante.dni%>
              </p>
            </td>
            <td>
              <%=cLectivo%>
            </td>


            <!-- Botones de edición -->
            <td class="w3-padding-0">
              <button type="button" class="btnTrashId btn btn-outline-danger disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
              <a class="btn btn-outline-info disabled" href="/estudiante/<%=estudiante.id%>/editar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </a>
            </td>

          </tr>
          <!-- Modal -->
          <% i++ %>
          <% }) %>
        </tbody>

      </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación de baja</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <form action="/estudiante/curso/bajaFake" method="post">
              <h4 id="estudianteNombre"></h4>
              <input class="form-group input-group-lg" id="estudianteId" hidden>
              <input type="text" id="rowId" name="rowId" hidden>
              <input type="text" id="cLectivo" name="cLectivo" hidden>
              <input type="text" id="inputCursoClave" name="cursoClave" value="<%= clave %>" hidden>
              <div class="form-group mb-2">
                <label for="fechaBaja">Fecha</label>
                <input type="date" class="form-control" id="fechaBaja" name="fechaBaja" aria-describedby="fechaBaja" placeholder="Ingresar fecha de baja" required>
              </div>
              <div class="form-group mb-2">
                <label for="slcMotivoBajaId">Motivo</label>
                <select id="slcMotivoBajaId" class="form-select" name="motivoBaja" required>
                  <option value="" selected disabled>Seleccione un motivo</option>
                  <option value="1">Cambio de curso</option>
                  <option value="2">Pase a otra escuela</option>
                  <option value="3">Promoción</option>
                  <option value="4">Otro</option>
                </select>
              </div>
              <div id="divCursoId" class="form-group" hidden>
                <label for="inputCurso" class="form-label">Curso</label>
                <img id="waitIconCurso" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="22" height="22" />
                <select id="inputCurso"  class="form-select" type="text" placeholder="Ingrese su/s apellido/s" name="curso">
                  <option value="" disabled selected>Seleccione un curso</option>
                  <% cursos.forEach(function(curso){ %>
                    <option value="<%= curso.idCurso %>"><%= curso.grado %>°<%= curso.division %>° </option>
                  <% }); %>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Confirmar</button>
              </div>
            </form>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <hr>


<script>
  $(document).ready(function () {
    $('.btnTrashId').on('click', function(event){
		event.preventDefault();
		var tbl_row = $(this).closest('tr');
		var row_id = tbl_row.attr('row_id');
    var row_estudiante = tbl_row.find("td:eq(0)").html()
    var row_cLectivo = tbl_row.find("td:eq(3)").html()
    var row_estudianteNombre = tbl_row.find("td:eq(1)").html()
    $('#estudianteId').val($.trim(row_estudiante));
    $('#cLectivo').val($.trim(row_cLectivo));
    $('#rowId').val(row_id);
    $('#estudianteNombre').html(row_estudianteNombre);
	});

  $('#slcMotivoBajaId').on('change', function () {
    var selector = $(this).val();
    if (selector == 1 || selector == 3) {
      $('#divCursoId').attr('hidden', false);
      $('#inputCurso').prop('required',true);
    } else {
      $('#inputCurso').val('').prop('required',false);
      $('#divCursoId').attr('hidden', true);
    }
  })
  
  //carga curso cuando el motivo de la baja es 1 (cambio de curso)
  // $('#slcMotivoBajaId').on('change', function () {
  //     var selector = $(this).val();
  //     alert(selector)
  //     //carga curso cuando se carga la vista el rol
  //     $.ajax({
  //       url: '/curso',
  //       contentType: 'application/json',
  //       method: 'GET',
  //       data: JSON.stringify({ id: selector }),
  //       dataType: 'text',
  //       success: function (response) {
  //         var jsonResponser = JSON.parse(response);
  //         //var slcCurso = $('#inputCurso');
  //         slcCurso.html('');
  //         slcCurso.removeAttr('disabled');
  //         slcCurso.attr('selected', false);
  //         slcCurso.append("<option value='' selected='' disabled=''>Seleccione un curso</option>\ ");

  //         jsonResponser.forEach(function (m) {
  //           slcCurso.append("<option value='" + m.idCurso + "' > " + m.clave + " - " + m.turnoNombre + " </option>\ ");
  //           console.log(m.nombre);
  //         })
  //         slcCurso.removeAttr('disabled')
  //         $("#waitIconCurso").css("display", "none");
  //       }
  //     });
  //   });
  });
</script>


 
<%- include ../../partials/parte2Inferior.ejs %>